* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}

.app {
  width: 100%;
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.input-box {
  display: flex;
  gap: 10px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.input-box button {
  padding: 10px 20px;
  border: none;
  background: #007bff;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.todo button {
  background: red;
  color: white;
  padding: 6px 12px;
  margin: 0 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.edit-button {
  background: #007bff !important;
}

.save-button {
  background: #00ff00 !important;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px;
}

.modal-buttons {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.popup-input{
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}